.Login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.Login .Login_total {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.Login .id_box, .pw_box{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.Login .button_wrapper {
    display: flex;
    width: 300px;
    gap: 10px; 
    margin-top: 10px;
}

.Login .button_wrapper > div {
    flex: 1; 
}
