.user-menu-container {
  position: relative;
  display: inline-block;
}

.user-menu-container .user-info-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.user-menu-container .user-icon {
  width: 35px;
  display: block;
}

.user-menu-container .user-name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.user-menu-container .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 4px;
  margin-top: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.user-menu-container .menu-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.user-menu-container .menu-item:hover {
  background-color: #f1f1f1;
}
