.ArticlePage .page-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 72px);
  /* Total width minus Sidebar width */
  min-height: 100vh;
}

.ArticlePage .main-content {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  /* Dark theme to match your wireframe */
}

.ArticlePage .main-content .article-section {
  max-width: 900px;
}

.ArticlePage .main-content .additional-section {
  width: 300px;
  background-color: #eeeeee;
}