.Main {
  display: flex;
  flex-direction: row;
}

.Main .page-content {
  flex: 1;
}

.Main .main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  color: black;
  padding-bottom: 40px;
  /* 스크롤 끝부분 여백 */
}

/* 상단 배너 섹션 */
.Main .top-banner-section {
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  /* 캐러셀이 표시될 수 있도록 고정 높이를 지정합니다. */
  padding: 0 20px;
}

.Main .carousel-container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

/* 뉴스 섹션 */
.Main .bottom-news-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
  display: grid;
  gap: 20px;
  /* 핵심 코드 */
  /* 최소 350px 크기는 유지하고, 공간이 남으면 늘어납니다. */
  /* 공간이 부족해지면 자동으로 3개 -> 2개 -> 1개로 줄바꿈됩니다. */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Main .section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  /* 타이틀과 기사 목록 사이 간격 */
  margin-left: 5px;
}

/* 기사 카드 그리드 배치 */
.Main .article-grid {
  display: grid;
  /* 화면 크기에 따라 자동으로 열 개수 조절 (최소 280px 너비 보장) */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  /* 카드 사이 간격 */
}